
@media (max-width: 768px) {
  .hero {
    height: auto;
    padding: 10px 10px;
  }

  .profile-one {
    height: 140px;
    width: 140px;
  }

  .hero h1 {
    font-size: 1.75rem;
  }

  .hero h2 {
    font-size: 1.5rem;
  }

  .hero p {
    font-size: 1.25rem;
  }
}


@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    position: absolute;
    top: 60px;
    right: 0;
    background: #333;
    width: 100%;
    border-radius: 0 0 5px 5px;
    transition: 0.5s;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 0;
  }

  .menu-toggle {
    display: block;
  }

  .contact-container ul {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .project {
    flex: 1 1 100%; 
  }
}

@media (max-width: 480px) {
  .project-description {
    font-size: 0.9rem;
  }
}
